<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
            <h2>What is in your cart?</h2>
            <p>&nbsp;</p>
            <div style="overflow-x:auto;" class="centered">
                <table class='centered'>
                <% if (products.length > 0) { %>
                <tr>
                    <% products.forEach(p => { %>
                        <td style='text-align: left;'>
                           <%= p.prodId.title %>
                        </td>
                        <td>
                            <%= p.qty %>
                        </td>
                        <td style='text-align: right'>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p._id %>" name="productId">
                                <button class="btn danger" type="submit">X</button>
                            </form>
                        </td>
                </tr>
                <% }) %>
                
                </table>  
            </div>
           
            <p>&nbsp;</p>
            <div class="centered">
                <form action="/create-order" method="POST">
                    <button type="submit" class="btn2">Order Now!</button>
                </form>
            </div>  
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>