<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <h1 class='centered title'>Stoned</h1>
        <div class='centered'>
            <img src='/images/stones.jpg' alt='/images/stones.jpg'>
        </div>
    </main>
    
<%- include('../includes/end.ejs') %> 